{% set categories = blogCategories.categories %}
{% set currentCategorySlug = blogCategories.currentCategorySlug %}

<div class="list-group">
    {% for category in categories %}
        {% set postCount = category.post_count %}
        <a
            href="{{ category.url }}"
            class="list-group-item {{ category.slug == currentCategorySlug ? 'active' }}"
            >{{ category.name }}
            {% if postCount %}
                <span class="badge">{{ postCount }}</span>
            {% endif %}
        </a> 
    {% endfor %}
</div>